.container {
  margin-bottom: 25px;
  width: 400px;
  box-sizing: border-box;
}
.label {
  display: block;
  margin-bottom: 8px;
  color: #6a6a6a;
  font-weight: 500;
}
.input {
  width: 100%;
  padding: 12px;
  border: 2px solid #f1f1f1;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
  outline: none;
  box-sizing: border-box;
}

.input:focus {
  border-color: #d8b4fe;
}
